<p id="notice"><%= notice %></p>

<h1>Magazines</h1>

<table class="table">
  <thead class="thead-dark">
    <tr class="text-center">
      <th>Name</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @magazines.each do |magazine| %>
      <tr class="text-center">
        <td><%= magazine.name %></td>
        <td><%= link_to 'Show', magazine %></td>
        <td><%= link_to 'Edit', edit_magazine_path(magazine) %></td>
        <td><%= link_to 'Destroy', magazine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-dark">New Job</button>'.html_safe, new_magazine_path %>
<%= link_to '<button type="button" class="btn btn-dark">Wines List</button>'.html_safe, wines_path %>
<%= link_to '<button type="button" class="btn btn-dark">Strains List</button>'.html_safe, strains_path %>
<%= link_to '<button type="button" class="btn btn-dark">Eonologists list</button>'.html_safe, oenologists_path %>
<%= link_to '<button type="button" class="btn btn-dark">Works list</button>'.html_safe, job_titles_path %>
