<p id="notice"><%= notice %></p>

<h1>Wine</h1>

<table class="table">
  <thead class="thead-dark">
    <tr class="text-center">
      <th scope="col">Name</th>
      <th scope="col">Strain</th>
      <th scope="col">Score</th>
      <th scope="col">Actions</th>
      
    </tr>
  </thead>

  <tbody>
    <% @wines.each do |wine| %>
      <tr class="text-center">
        <td><%= wine.name %></td>
        <td  class="text-left"><%= wine.strains.order(:name).map{|s| "#{s.name} (#{wine.getPercentageByStrainId(s.id)}%)"}.join(', ') %>
        </td>
        <td><%= link_to 'show', wine %></td>
        <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
        <td><%= link_to 'Destroy', wine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '<button type="button" class="btn btn-dark">New Wine</button>'.html_safe, new_wine_path %>
<%= link_to '<button type="button" class="btn btn-dark">Strains List</button>'.html_safe, strains_path %>
<%= link_to '<button type="button" class="btn btn-dark">Listado de Enólogos</button>'.html_safe, oenologists_path %>
